.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.heading {

}

.subText {
  max-width: 800px;
}

.btnContainer {
  display: flex;
  gap: 8px
}

.btnPrimary {
  background: blue;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
}

.btnSecondary {
  background: green;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
}
